

$colorForeground: #544943
$colorBackground: #ece4d8

$colorMuted: #777

$colorBlue: #417090


$colorTeam0: #fff8dc
$colorTeam1: #5E4C3A
$colorTeam0dark: mix($colorTeam0,$colorTeam1, 90%)
$colorTeam1light: mix($colorTeam1,$colorTeam0, 90w%)



// Semantic
$colorInfo: #5bc0de
$colorGood: #5cb85c
$colorWarn: #f0ad4e
$colorBad:  #d9534f



$black05: mix(black,white,5%)
$black10: mix(black,white,10%)

$shade05: rgba(0,0,0,0.05)
$shade10: rgba(0,0,0,0.10)
$shade20: rgba(0,0,0,0.20)

$light20: rgba(255,255,255,0.20)
$light50: rgba(255,255,255,0.50)