body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #544943;
  background: #ece4d8; }

.muted {
  color: #777777; }

h1, h2, h3 {
  font-weight: normal;
  vertical-align: middle; }

h1 small,
h2 small,
h3 small {
  font-size: 70%; }

small {
  vertical-align: middle; }
