game-board {
  position: relative;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 0 10px #417090;
  background: white; }
  game-board .space {
    display: block;
    position: absolute;
    width: 16.66667%;
    height: 16.66667%;
    box-shadow: inset 0 0 0 1px #ecf0f3;
    background: white;
    color: rgba(65, 112, 144, 0.2);
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    game-board .space:hover {
      -webkit-transition: none;
      -moz-transition: none;
      transition: none;
      background: rgba(65, 112, 144, 0.2);
      color: #417090; }
  game-board .x0 {
    left: 0%; }
  game-board .x1 {
    left: 16.66667%; }
  game-board .x2 {
    left: 33.33333%; }
  game-board .x3 {
    left: 50.0%; }
  game-board .x4 {
    left: 66.66667%; }
  game-board .x5 {
    left: 83.33333%; }
  game-board .y0 {
    top: 0%; }
  game-board .y1 {
    top: 16.66667%; }
  game-board .y2 {
    top: 33.33333%; }
  game-board .y3 {
    top: 50.0%; }
  game-board .y4 {
    top: 66.66667%; }
  game-board .y5 {
    top: 83.33333%; }
