@import '../styles/__'

game-board
  $spaceSize: percentage(1 / 6) // 6x6 board
  position: relative
  display: block
  margin: 20px auto
  box-shadow: 0 4px 0 2px $colorBlue, 0 0 0 2px $colorBlue, 0 5px 1px 1px $shade20
  border-radius: 3px
  background: white

  .space
    display: block
    position: absolute
    width: $spaceSize
    height: $spaceSize
    background: white
    color: transparentize($colorBlue, .8)
    font-weight: normal
    font-size: 10px
    text-align: center
    &.altColor
      background: mix($colorBlue, white, 10%)


  // X Positions
  .x0
    left: $spaceSize * 0
  .x1
    left: $spaceSize * 1
  .x2
    left: $spaceSize * 2
  .x3
    left: $spaceSize * 3
  .x4
    left: $spaceSize * 4
  .x5
    left: $spaceSize * 5
  // Y Positions
  .y0
    top: $spaceSize * 0
  .y1
    top: $spaceSize * 1
  .y2
    top: $spaceSize * 2
  .y3
    top: $spaceSize * 3
  .y4
    top: $spaceSize * 4
  .y5
    top: $spaceSize * 5




  // Pieces
  .piece
    position: relative
    display: block
    width: $spaceSize
    height: $spaceSize
    cursor: pointer
    background: mix($colorRed, white, 50%)
    box-shadow:  inset 0 2px 0 0 $light50, inset 0 -3px 0 0 $colorRed, inset 0 0 0 1px $colorRed, 0 1px 1px 0 $shade20
    border-radius: 3px
    //+transition(all .15s ease-in-out)
    &:hover
      background: mix($colorRed, white, 45%)
    //&.is-dragging
      //+transition(none)


