@import '../styles/__'

=team-colors($colorTeam, $colorTeamLight, $colorTeamDark)
  background: $colorTeamLight
  box-shadow:  inset 0 -3px 0 0 $colorTeamDark, inset 0 1px 0 0 $colorTeamDark, inset 0 0 0 1px $colorTeamDark, inset 0 2px 0 0 $light50, 0 2px 1px 0 $shade20
  &:hover
    background: mix(white, $colorTeamLight, 10%)
  &:before
    color: $colorTeamDark
  &.side1
    box-shadow:  inset 0 -3px 0 0 $colorTeamDark, inset 0 1px 0 0 $colorTeamDark, inset 0 0 0 1px $colorTeamDark, inset 0 2px 0 0 $light50, 0 2px 1px 0 $shade20, inset 0 -1px 0 4px $colorTeamLight, inset 0 -1px 0 7px $colorTeam


// Pieces
.piece
  $spaceSize: percentage(1 / 6) // 6x6 board
  position: absolute
  display: block
  width: $spaceSize
  height: $spaceSize
  cursor: pointer
  border-radius: 3px
  margin-top: -1px
  color: $shade20
  font-size: 10px
  text-align: center
  padding-top: 10px
  box-sizing: border-box
  overflow: hidden
  //+transition(all .15s ease-in-out)


  // Things "closer" to the viewer should be higher in z-space
  &.y0
    z-index: 1
  &.y1
    z-index: 2
  &.y2
    z-index: 3
  &.y3
    z-index: 4
  &.y4
    z-index: 5
  &.y5
    z-index: 6
  &.is-dragging
    z-index: 99


  // Styling for each piece type
  &:before
    $size: 30px
    position: absolute
    height: $size
    width: $size
    top: 50%
    left: 50%
    margin-top: -($size/2)
    margin-left: -($size/2)
    font-size: $size * .95
    line-height: $size
    font-weight: bold
    text-shadow: 0 -1px 0 $shade50, -1px 0 0 $shade50
  &.prince:before
    content: "P"
  &.footman:before
    content: "F"
  &.pikeman:before
    content: "Pi"
  &.bowman:before
    content: "B"
  &.champion:before
    content: "C"
  &.dragoon:before
    content: "D"
  &.assassin:before
    content: "A"
  &.general:before
    content: "G"
  &.knight:before
    content: "K"
  &.marshall:before
    content: "M"
  &.priest:before
    content: "Pr"
  &.seer:before
    content: "S"
  &.wizard:before
    content: "W"
  &.longbowman:before
    content: "L"
  &.oracle:before
    content: "O"
  &.duchess:before
    content: "Du"    

  &.team0
    +team-colors($colorTeam0, $colorTeam0Light, $colorTeam0Dark)
  &.team1
    +team-colors($colorTeam1, $colorTeam1Light, $colorTeam1Dark)
    -moz-transform: scaleY(-1)    
    -o-transform: scaleY(-1)     
    -webkit-transform: scaleY(-1) 
    transform: scaleY(-1)         
    filter: FlipH                 

  // Highlight when selected
  &.selecttrue
    background: $colorWarn
    &:hover
      background: mix(white, $colorWarn, 10%)
  // Highlight differently when attacked
  &.attackedmove
    background: $colorHighlight
    &:hover
      background: mix(white, $colorHighlight, 10%)
  // Highlight differently when attacked by strike
  &.attackedstrike
    background: $colorHighlightStrike
    &:hover
      background: mix(white, $colorHighlightStrike, 10%)

